In [5]:
#Declare a float value and store it in a variable. 
# Case 1: Float value already given.
num = 26.5
print('The value is: ',num)
print('The type of value is: ',type(num))
print('The ID of value is: ',id(num))

#Check the type and print the id of the same.

# Output :
# The value is:  26.5
# The type of value is:  <class 'float'>
# The ID of value is:  54338160

The value is:  26.5
The type of value is:  <class 'float'>
The ID of value is:  54800048

In [3]:
#Declare a float value and store it in a variable. 
# Case 2: Taking input from the user.
num = float(input('Enter the Value: '))
print('The entered value is: ',num)
print('The type of entered value is: ',type(num))
print('The ID of entered value is: ',id(num))

#Check the type and print the id of the same.

# Output :
# Enter the Value: 10.5
# The entered value is:  10.5
# The type of entered value is:  <class 'float'>
# The ID of entered value is:  54341280

Enter the Value: 10.5
The entered value is:  10.5
The type of entered value is:  <class 'float'>
The ID of entered value is:  54341280

In [8]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

num1 = float(input('Enter the first value : '))
num2 = float(input('Enter the second value : '))

#Do below operations on them:-
    #Find sum of both numbers
print('Sum of two numbers are ',num1+num2)

    #Find differce between them
print('Difference of two numbers are ',num1-num2)

    #Find the product of both numbers.
print('Product of two numbers are ',num1*num2)

    #Find value after dividing first num with second number
print('Value after dividing first number with second number is ',num1/num2)

    #Find the remainder after dividing first number with second number
print('The remainder after dividing first number with second number is ',num1%num2)

    #Find the quotient after dividing first number with second number
print('The quotient after dividing first number with second number is ',num1//num2)
    
    #Find the result of first num to the power of second number.
print('The result of first number to the power of second number is ',num1**num2)

# Output :
# Enter the first value : 7.5
# Enter the second value : 6.2
# Sum of two numbers are  13.7
# Difference of two numbers are  1.2999999999999998
# Product of two numbers are  46.5
# Value after dividing first number with second number is  1.2096774193548387
# The remainder after dividing first number with second number is  1.2999999999999998
# The quotient after dividing first number with second number is  1.0
# The result of first number to the power of second number is  266305.3142186568

Enter the first value : 7.5
Enter the second value : 6.2
Sum of two numbers are  13.7
Difference of two numbers are  1.2999999999999998
Product of two numbers are  46.5
Value after dividing first number with second number is  1.2096774193548387
The remainder after dividing first number with second number is  1.2999999999999998
The quotient after dividing first number with second number is  1.0
The result of first number to the power of second number is  266305.3142186568

In [9]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

num1 = float(input('Enter the first value : '))
num2 = float(input('Enter the second value : '))

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
print(num1>num2)

        #Smaller than, '<'
print(num1<num2)

        #Greater than or equal to, '>='
print(num1>=num2)

        #Less than or equal to, '<='
print(num1<=num2)

#Observe their output(return type should be boolean)

# Output :
# Enter the first value : 4.5
# Enter the second value : 2.3
# True
# False
# True
# False

Enter the first value : 4.5
Enter the second value : 2.3
True
False
True
False

In [14]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.
num1 = float(input('Enter the first value : '))
num2 = float(input('Enter the second value : '))

#Equuate them using equality operator (==, !=)
print(num1==num2)
print(num1!=num2)

#Observe the output(return type should be boolean)

# Output
# Enter the first value : 34.5
# Enter the second value : 34.5
# True
# False

Enter the first value : 34.5
Enter the second value : 34.5
True
False

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

# Ans. As we already know that all the whole numbers except zero are always true. Here in the below code we are applying
#      the "and" Logical operation according to the "and" table.
#  Here the code checks the first value and second value both,& if any one value is false then it will return False  
#  if first and second both values are true then it returns the second value.

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
# Here the code checks the first value and second value both as both are true so it takes the second value.

print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
# Here the code checks the first value as false so it takes the first value (as false & true 
# returns False according to "and" table.)

print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
# Here the code checks the first value as true and second value as false so it takes the second value (as true & false 
# returns False according to "and" table.)

print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0
# Here the code checks the first value as both are False so it takes the first value.

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

# Ans. As we already know that all the whole numbers except zero are always true. Here in the below code we are applying
#      the "or" Logical operation according to the "or" table.
#  Here the code checks the first value and second value both,& if any one value is True then it will return True  
#  if first and second both values are true then it returns the first value as already first itself is true.

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
# Here the code checks the first value as both are true so it takes the first value.

print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
# Here the code checks the first value as false and second value as true so it takes the second value (as false & true 
# returns true according to "or" table.)

print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
# Here the code checks the first value as true so it takes the first value (as true & false 
# returns true according to "or" table.)

print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0
# Here the code checks the first value and second value both as both are False so it takes the second value.

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

# Ans. As we already know that all the whole numbers except zero are always true. Here in the below code we are applying
#      the "not" Logical operation according to the "not" table.
#  Here, in not table if the value is true then it always gives the output as false & 
#   if the value is false then it always gives the output as true.

print(not 10.20)             #-Not of true is false->Output is False
# ..Here we can see that 10.20 is True but according to "not" operation, the output will be false.

print(not 0.0)               #Not of false is True>Output is True
# ..Here we can see that 0.0 is false but according to "not" operation, the output will be True.

In [16]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False

# Output :
# False
# True

# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

False
True

In [7]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
a = 10.20
b = 10.20
print(a is b)  
print(a is not b)  
# Id of float values are different when the same value is assigned to two different variables as float values do not follow 
# Object Re-usability concept.

a = 10.5
b = 10.5
c = a
print(a is b)  
print(a is not b)  
print(a is c)
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

False
True
False
True
True

In [17]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
#..Here in this code membership operation is followed as "2.7" is included as it is in the given code "Python2.7.8".
#  Here the output will be a boolean value i.e. "True".

print(10.20 in [10,10.20,10+20j,'Python']) #True
#..Here in this code membership operation is followed as "10.20" is included as it is in the given code in the given list.
#  Here the output will be a boolean value i.e. "True".

print(10.20 in (10,10.20,10+20j,'Python')) # True
#..Here in this code membership operation is followed as "10.20" is included as it is in the given code.
#  Here the output will be a boolean value i.e. "True".

print(20.30 in {1,20.30,30+40j})           # True
#..Here in this code membership operation is followed as "20.30" is included as it is in the given code in the given set.
#  Here the output will be a boolean value i.e. "True".

print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
#..Here in this code membership operation is followed as "2.3" is included as it is in the given code.
#  Here the output will be a boolean value i.e. "True".

print(10 in range(20))                     # True
#..Here in this code membership operation is followed as "10" is included within the range provided range(0, 20).
#  Here the output will be a boolean value i.e. "True".

True
True
True
True
True
True