In [1]:
#Declare a string and store it in a variable. 

str = input('Enter String or Character: ')
print(str,type(str))
print(id(str))

#Check the type and print the id of the same.

Enter String or Character: dsgflkgdjg
dsgflkgdjg <class 'str'>
56545912

In [3]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid

# Ans.1. This is a valid string as it can be executed.
# print('This is Python class')

2. "This is Python class"
valid/invalid

# Ans.2. This is a valid string as it can be executed.
# print("This is Python class")

3. '''This is Python class'''
valid/invalid

# Ans.3. This is a valid string as it can be executed.
# print('''This is Python class''')

4. """This is Python class"""
valid/invalid

# Ans.4. This is a valid string as it can be executed.
# print("""This is Python class""")

5. 'This is Python's class'
valid/invalid

# Ans.5. This is invalid string as it cannot be executed.
# print('This is Python's class')

6. "Learnbay provides "Java", "Python" classes"
valid/invalid

# Ans.6. This is invalid string as it cannot be executed.
# print("Learnbay provides "Java", "Python" classes")

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid

# Ans.7. This is a valid string as it can be executed.
# print("Learnbay provides 'Java', 'Python' classes")

8. "This is Python's class"
valid/invalid

# Ans.8. This is a valid string as it can be executed.
# print("This is Python's class")

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid

# Ans.9. This is a valid string as it can be executed.
# print("""Learnbay provides "Java", "Python" classes""")

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid 

# Ans.10. This is a valid string as it can be executed.
# print('''Learnbay provides "Java", "Python" classes''')

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid

# Ans.11. This is a valid string as it can be executed.
# print('''Learnbay provides
#"Java", "Python" 
#classes''')

12. 'This is
Python 
class'
valid/invalid

# Ans.12. This is invalid string as it cannot be executed.
# print('This is
#Python 
#class')

SyntaxError: invalid syntax (<ipython-input-3-84cda74e5234>, line 2)

In [122]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print('The Length of my_str is ',len(my_str))
#output:- The length of my_str is 66

print(my_str is my_str1)
#output:- id of my_str and my_str1 is same? - False

print(type(my_str))
#output:- Type of my_str is: str

1
False
<class 'str'>

In [5]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in my_str is: ',my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print('The first character in my_str is: ',my_str[-len(my_str)])
#output:- The first character in my_str is: A
#Note:- Use len() function.

print('The character at index 10 in my_str is: ',my_str[65])
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print('The last character in my_str is: ',my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print('The last character in my_str is: ',my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is:  A
The first character in my_str is:  A
The character at index 10 in my_str is:  c
The last character in my_str is:  h
The last character in my_str is:  h

In [114]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing

print("You have sliced: ",my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print("You have sliced: ",my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print("You have sliced: ",my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print("You have sliced: ",my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print("You have sliced: ",my_str[0:0:-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print("You have sliced: ",my_str[::2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print("You have sliced: ",my_str[0:len(my_str):3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print("You have sliced: ",my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step

print("You have sliced: ",my_str[-1:-len(my_str)-1:-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print("You have sliced: ",my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print("You have sliced: ",my_str[-1:-len(my_str)-1:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print("You have sliced: ",my_str[10:17:-1])
#What will be the output?
# Ans. The above command is printing an empty string.

print("You have sliced: ",my_str[my_str.index(' m'):my_str.index('hat'):-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print("You have sliced: ",my_str[my_str.index('ess'):my_str.index("'re"):1])
#output:- You have sliced: ess you. Using begin, end and step.

You have sliced:  Although that way may not be obvious at first unless you're Dutch.
You have sliced:  Although that way may not be obvious at first unless you're Dutch.
You have sliced:  Although that way may not be obvious at first unless you're Dutch.
You have sliced:  Although that way may not be obvious at first unless you're Dutch.
You have sliced:
You have sliced:  Atog htwymyntb biu tfrtuls o'eDth
You have sliced:  Ahgttam tebo  r lsorDc
You have sliced:  .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced:  .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced:  .cu ruysen si asovoe o a a athuhl
You have sliced:  .cu ruysen si asovoe o a a athuhl
You have sliced:
You have sliced:   yaw ta
You have sliced:  ess you

In [126]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.

print(str1 + " " + str2)
#Output is: Learnbay Python


#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output

print(str1*3)
#Output is: LearnbayLearnbayLearnbay


#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

Learnbay Python
LearnbayLearnbayLearnbay

In [132]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
print(str1 is str2)

#print False by using identity operator between str1 and str3
print(str1 is str3)

#print False by using identity operator between str4 and str3
print(str4 is str3)

#Check if P is available in str1 and print True by using membership operator
print('P' in str1)

#Check if $ is available in str3 and print True by using membership operator
print('$' in str3)

#Check if N is available in str3 and print False by using membership operator
print('N' in str3)

True
False
False
True
True
False

In [6]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.
str1['Python'] = 'Java'
print(str1)

TypeError: 'str' object does not support item assignment

In [139]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1<str2)

True
True
True
False
False
False

In [145]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1<str2)
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1>=str2)

True
True
True
False
False
False

In [9]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.

#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

False
True
False

In [156]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1<str2)

True
True
True
False
False
False

In [160]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
print(str1<=str2)
print(str1<str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>=str2)
print(str1>str2)

True
True
True
False
False
False

In [24]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print("Output is: ",a and b)
print("Output is: ",a or b)
print("Output is: ",not a)
print("Output is: ",not b)
print()

Output is:
Output is:  Python
Output is:  False
Output is:  True

In [25]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print("Output is: ",a and b)
print("Output is: ",a or b)
print("Output is: ",not a)
print("Output is: ",not b)

Output is:
Output is:
Output is:  True
Output is:  True

In [26]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print("Output is: ",a and b)
print("Output is: ",a or b)
print("Output is: ",not b)
print("Output is: ",not a)

Output is:  learnbay
Output is:  Python
Output is:  False
Output is:  False

In [46]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(my_str.count('t'))


#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.index('8'))
print(my_str.find('8'))

#What will be the output of below code?
print(my_str.find('the'))
# Output is -1 as the matching string was not found.

print(my_str.index('the'))
# Here output gives value error as the matching string was not found.

print(my_str.find('t', 9, 15))
# Output is 11.

print(my_str.rfind('u'))
# Output is 63.

print(my_str.rindex('u'))
# Output is 63.

7
9
9
-1

ValueError: substring not found

In [49]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'
my_str = '    Python   '
print(my_str.strip())


#input:- '    Python'
#output:- 'Python'
my_str = '    Python'
print(my_str.lstrip())


#input:- 'Python   '
#output:- 'Python'
my_str = 'Python   '
print(my_str.rstrip())

Python
Python
Python

In [52]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [56]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.
my_str = input("Enter a string: ")
print(my_str.title())

Enter a string: ghdss fghhb
Ghdss Fghhb

In [61]:
#Take a string from user and check if it is:-
my_str = input('Enter an input: ')
#     1. alphanumeric
print(my_str.isalnum())

#     2. alphabets
print(my_str.isalpha())

#     3. digit
print(my_str.isdigit())

#     4. all letters are in lower case
print(my_str.islower())

#     5. all letters are in upper case
print(my_str.isupper())

#     6. in title case
print(my_str.istitle())

#     7. a space character
print(my_str.istitle())

#     8. numeric
print(my_str.isnumeric())

#     9. all number elements in string are decimal
print(my_str.isdecimal())

Enter an input: 45hnfg
True
False
False
True
False
False
False
False
False

In [62]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'
my_str = input('Enter an input: ')
print(my_str.isidentifier())

Enter an input: fdh\
False

In [63]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())
# Output is True.

s = chr(27) + chr(97)
print(s.isprintable())
# Output is False.

s = '\n'
print(s.isprintable())
# Output is False.

s = ''
print(s.isprintable())
# Output is True.

True
False
False
True

In [64]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())
# Output is True.

my_string = 'Studytonight'
print(my_string.isascii())
# Output is True.

my_string = 'Study tonight'
print(my_string.isascii())
# Output is True.

my_string = 'Studytonight@123'
print(my_string.isascii())
# Output is True.

my_string = '°'
print(my_string.isascii())
# Output is False.

my_string = 'ö'
print(my_string.isascii())
# Output is False.

True
True
True
True
False
False

In [65]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')
    
# Both first string and second string are equal as "ss" is lowercase of "ß". 
# Output: The strings are equal.

The strings are equal.

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)


#Write the code to get below output
#O/P 1:- **python (using rjust method)


#Write the code to get below output
#O/P 1:- **python** (using rjust method)

In [72]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

my_str = 'Write a Python program to find the length of the my_str'
print(len(my_str))

55

In [73]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.count('p'))

9

In [78]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

my_str = 'peter piper picked a peck of pickled peppers.'
for var in range(len(my_str)):
    if my_str[var]=='p':
        print(var)

0
6
8
12
21
29
37
39
40

In [87]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers']

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers pickled of peck a picked piper peter'

In [90]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'sreppep delkcip fo kcep a dekcip repip retep'

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str[::-1])

.sreppep delkcip fo kcep a dekcip repip retep

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip sreppep'

my_str = 'peter piper picked a peck of pickled peppers.'

In [89]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers'

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [88]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(my_str.capitalize())

Peter piper picked a peck of pickled peppers.

In [91]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(my_str.index('Pickl'))

29

In [93]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
new_str = 'Pack'
print(my_str.replace(sub_str,new_str))

Peter Piper Picked A Pack Of Pickled Peppers.

In [ ]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

In [ ]:
#Write a python program to find below output (implement partition and rpartition):-

#Input:- 'This is Python class', sep = 'is', 
#Output:- ['This', 'is', 'Python class']

In [ ]:
#Write a python program which takes one input string from user and encode it in below format:-
    1. #Input:- 'Python'
       #Output:- 'R{vjqp'
        
        
        
        
        

    2. #Input:- 'Python'
       #Output:- 'Rwvfql'
        
        
        
        
        
    3. #Input:- 'Python'
       #Output:- 'R{vfml'